<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>USER</title>
<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
<meta name="description"
	content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
<!-- css -->
<link rel="/stu/static/hplus/shortcut icon" href="favicon.ico">
<link href="/stu/static/hplus/css/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="/stu/static/hplus/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="/stu/static/hplus/css/animate.min.css" rel="stylesheet">
<link href="/stu/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<!-- js -->
    <script src="/stu/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/stu/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/stu/static/hplus/js/content.min.js?v=1.0.0"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/stu/static/js/main.js"></script>
<body>
    <div class="row border-bottom white-bg dashboard-header">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="toolbar" class="btn-group" class="toolbar btn-group" data-toggle="bottons-checkbox">
                        <button id="edit_btn" class="btn btn-default" type="button">编辑</button>
                        <button id="del_btn" class="btn btn-default" type="button">删除</button>
                        <button id="search_btn" class="btn btn-default" type="button">查找</button>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
    

    
	<script type="text/javascript">
	$(function(){
		$('#table').bootstrapTable({
			method:'post',
			classes:'table table-bordered',
			url:getContextPath()+'/security/user/list',
			pagination:'true',
			sortName:'id',
			sortOrder:'asc',
			sidePagination:'server',
			idField:'id',
			toolbar:'#toolbar',
			toolbarAlign:'left',
			contentType:'application/json',
			queryParamsType:'undefined',
			clickToSelect:true,
			showColumns:true,
			pageList:[10,20,30,40,50,100,200],
			queryParams:function(params){
				var param = {};
				if($.trim($('#username').val())!=""){
					param.username=$.trim($('#username').val());
				}
				var postData = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
					      pageSize: params.pageSize,   //页面大小
					      pageNumber: params.pageNumber,  //页码
					      sortName: params.sortName,  //排序列名
					      sortOrder: params.sortOrder,//排位命令（desc，asc）
					      param: param
					    };
				return postData;
			},
		    columns: [ {
		    	field: 'state',
		        radio: true
		    },{
		        field: 'loginname',
		        title: '登录名'
		    },{
		    	field: 'username',
		        title: '用户名'
		    },{
		    	field: 'gender',
		        title: '性别'
		    },{
		    	field: 'birthday',
		        title: '生日'
		    },{
		    	field: 'phonenum',
		        title: '电话'
		    },{
		    	field: 'email',
		        title: '邮箱'
		    }]
		});
		
		$('#edit_btn').click(function(){
			var data_table=$('#table');
			var selects=data_table.bootstrapTable('getSelections');
			var selected=selects[0];
			if(selected==undefined){
				alert('未选择')
				return;
			}
			alert(JSON.stringify(selects));
		});
	});
	</script>
</body>
</html>