<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nihao.dao.LogindataMapper" >
  <resultMap id="BaseResultMap" type="com.nihao.model.Logindata" >
    <id column="id" property="id"/>
    <result column="loginname" property="loginname"/>
    <result column="ltype" property="ltype"/>
    <result column="cdatetime" property="cdatetime"/>
    <result column="ip" property="ip"/>
    <result column="useragent" property="useragent"/>
  </resultMap>
  
  <insert id="insertOne" parameterType="com.nihao.model.Logindata">
  insert into logindata(loginname,ltype,cdatetime,ip,useragent) 
  values(#{loginname},#{ltype}
  ,#{cdatetime},#{ip},#{useragent})
  </insert>
  
</mapper>