<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STU - 登录</title>
    <meta name="keywords" content="STU">
    <meta name="description" content="STU">

    <link rel="shortcut icon" href="/stu/static/hplus/favicon.ico"> 
    <link href="/stu/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/stu/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/stu/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/stu/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/stu/static/lightbox-dialog/dist/css/Lobibox.min.css" rel="stylesheet">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">
<div id="validate-sound" style="display: none;"></div>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div><h1 class="logo-name">STU</h1></div>
            <h3>欢迎使用 STU</h3>
              <form id="form1" class="m-t" role="form">
                <div class="form-group">
                    <input id="loginname" type="text" name="loginname" class="form-control" placeholder="用户名" 
                    data-placement="bottom" title="" validation="required">
                </div>
                <div class="form-group">
                    <input id="pwd" type="password" name="pwd" class="form-control" placeholder="密码" 
                    data-placement="bottom" title="" validation="required">
                </div>
                <button id="submit-btn" type="button" class="btn btn-primary block full-width m-b">登 录</button>


                <p class="text-muted text-center"> <a href="#"><small>忘记密码了？</small></a> | <a href="#">注册一个新账号</a>
                </p>
              </form>
        </div>
    </div>
    <script src="/stu/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/stu/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/stu/static/lightbox-dialog/dist/js/lobibox.min.js"></script> 
    <script src="/stu/static/js/main.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('#submit-btn').click(function(){
    		if($('#form1').validate()){
    			$.ajax({
    				type: 'post',
    				url: getContextPath()+'/user/login.ajax',
    				data: $('#form1').serializeJson(),
    				dataType: 'json',
    				success: function(data){
    					if(data.code==200){
    						window.location.href=getContextPath()+"/page/main";
    					}
    					else{
    						Lobibox.notify('info', {
        		    			title:'登录失败',
        		    			msg:data.message,
        		    			delay:1500,
        		    			soundPath:'/stu/static/sounds/'
        		    		});
    					}
    				},
    				error:function(errorThrown){
    					Lobibox.notify('error', {
    		    			title:errorThrown.status+'错误',
    		    			msg:'错误信息:'+errorThrown.statusText,
    		    			delay:1500,
    		    			soundPath:'/stu/static/sounds/'
    		    		});
    				}
    			}); 
    		}
    	});
    	
    });
    </script>
</body>
</html>
