<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>STU - WELCOME</title>
<meta name="keywords" content="STU">
<meta name="description" content="STU">
<!-- css -->
<link rel="/stu/static/hplus/shortcut icon" href="favicon.ico">
    

<link href="/stu/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="/stu/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="/stu/static/hplus/css/animate.min.css" rel="stylesheet">
<link href="/stu/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="/stu/static/hplus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/stu/static/hplus/css/plugins/treeview/bootstrap-treeview.css" rel="stylesheet">
<link href="/stu/static/lightbox-dialog/dist/css/Lobibox.min.css" rel="stylesheet">
</head>
<body id="body">
tyuijokplvygbhn
<div id="newMessageDIV" style="display:none"></div>   
  <input type="button" id="ww" value="dada"/>
  <input type="button" id="a" value="kkkkk">
    <!-- js -->
    <script src="/stu/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/stu/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/stu/static/hplus/js/content.min.js?v=1.0.0"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/stu/static/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/stu/static/hplus/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script src="/stu/static/lightbox-dialog/dist/js/lobibox.min.js"></script> 
    <script src="/stu/static/js/main.js"></script>
    <script src="/stu/static/jQuery.resizeEnd.min.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('#ww').click(function(){
    		$('#newMessageDIV').html('<embed src="/stu/static/sounds/7499.mp3"/>'); 
    	});
    	$('#a').click(function(){
    		Lobibox.notify('success', {
    			msg:'cewcewvwrv',
    			soundPath:'/stu/static/sounds/'
    		});
    	});
    });
    </script>
</body>
</html>