<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nihao.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.nihao.model.Resource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resourcename" property="resourcename" jdbcType="VARCHAR" />
    <result column="iconcls" property="iconcls" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="rtype" property="rtype" jdbcType="INTEGER" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="cdatetime" property="cdatetime" jdbcType="TIMESTAMP" />
    <result column="udatetime" property="udatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectListByUserId" resultType="com.nihao.model.Resource" parameterType="java.lang.Integer">
  select a.*
  from resource a,role b,role2resource c,user2role d 
  where a.id=c.resourceid and b.id=c.roleid and b.id=d.roleid
  and d.userid=#{userId,jdbcType=INTEGER} 
  </select>
  
  <select id="selectListByRoleId" resultType="com.nihao.model.Resource" parameterType="java.lang.Integer">
  select a.* 
  from resource a,role2resource b
  where a.id=b.resourceid
  and b.roleid=#{roleId,jdbcType=INTEGER} 
  </select>
  
</mapper>