<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nihao.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.nihao.model.Resource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resourcename" property="resourcename" jdbcType="VARCHAR" />
    <result column="iconcls" property="iconcls" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="rtype" property="rtype" jdbcType="INTEGER" />
    <result column="resourceid" property="resourceid" jdbcType="INTEGER" />
    <result column="cdatetime" property="cdatetime" jdbcType="TIMESTAMP" />
    <result column="udatetime" property="udatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resourcename, iconcls, description, url, seq, rtype, resourceid, cdatetime, udatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nihao.model.Resource" >
    insert into resource (id, resourcename, iconcls, 
      description, url, seq, 
      rtype, resourceid, cdatetime, 
      udatetime)
    values (#{id,jdbcType=INTEGER}, #{resourcename,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{rtype,jdbcType=INTEGER}, #{resourceid,jdbcType=INTEGER}, #{cdatetime,jdbcType=TIMESTAMP}, 
      #{udatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nihao.model.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resourcename != null" >
        resourcename,
      </if>
      <if test="iconcls != null" >
        iconcls,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="rtype != null" >
        rtype,
      </if>
      <if test="resourceid != null" >
        resourceid,
      </if>
      <if test="cdatetime != null" >
        cdatetime,
      </if>
      <if test="udatetime != null" >
        udatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourcename != null" >
        #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null" >
        #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=INTEGER},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="cdatetime != null" >
        #{cdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="udatetime != null" >
        #{udatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nihao.model.Resource" >
    update resource
    <set >
      <if test="resourcename != null" >
        resourcename = #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null" >
        iconcls = #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="rtype != null" >
        rtype = #{rtype,jdbcType=INTEGER},
      </if>
      <if test="resourceid != null" >
        resourceid = #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="cdatetime != null" >
        cdatetime = #{cdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="udatetime != null" >
        udatetime = #{udatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nihao.model.Resource" >
    update resource
    set resourcename = #{resourcename,jdbcType=VARCHAR},
      iconcls = #{iconcls,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      rtype = #{rtype,jdbcType=INTEGER},
      resourceid = #{resourceid,jdbcType=INTEGER},
      cdatetime = #{cdatetime,jdbcType=TIMESTAMP},
      udatetime = #{udatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>